<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>bingo_blog</title>
<script th:inline="javascript">
    var ctx = /*[[@{/}]]*/ '';
    ctx=ctx.substr(0,ctx.length-1);
    /*[+
        var darkUrl = ctx+"css/landing-page-dark.min.css";
        +]*/
</script>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/landing-page.min.css}" rel="stylesheet" id="theme-css"/>
<link th:href="@{/css/jcala-md.min.css}" rel="stylesheet"/>
<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">


<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>

<script th:src="@{/js/front-end.min.js}"></script>