<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/a_top_head"></head>
</head>
<body>
<div id="wrapper">
    <!-- top header -->
    <header th:replace="common/admin/a_head :: header"></header>
    <!--  -->
    <section>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i>Monitor</a></li>
                        <li class="active"><i class="fa fa-table"></i>project</li>
                    </ol>
                </div>
            </div><!-- /.row -->


            <!-- start myModal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- end myModal -->



            <div class="mainpanel">
                <div class="row">
                    <form class="col-sm-10 form-inline" role="form">
                        <div class="input-group">
                            <input class="form-control" type="text" size="25" name="date" id="date-range" />
                            <label class="input-group-addon" for="date-range"><span class="glyphicon glyphicon-calendar"></span></label>
                        </div>
                        <div class="form-group" >
                            <input type="text" class="form-control" placeholder="姓名或手机" id="user_info" />
                            <div class="input-group">
                                <label class="input-group-addon btn" id="searchButton"><span class="glyphicon glyphicon-search"></span></label>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-2">
                        <button class="btn btn-success" onclick="add()" data-target="#myModal">新增</button>
                    </div>
                </div>


                <div class="col-sm-12 input-group">
                    <div style="margin-top: 10px;">
                        <div class="table-responsive">
                            <table id="dataTable"></table>
                        </div>
                    </div>
                </div>
            </div><!-- mainpanel -->
        </div>
    </section>
</div>
</body>
<script type="text/javascript">

    $(document).ready(function() {
        // 面包屑
        $('#breadcrumbs').html('demo / demo_list');

        initBootstrapTable();

        initEvent();

        listenModal();

    });

    function refreshTable() {
        $('#dataTable').bootstrapTable('refresh', {
            url: ctx+"/admin/project/list"
        });
    }

    function initBootstrapTable() {

        $('#dataTable').bootstrapTable({
            method: 'post',
            url: ctx+'/admin/project/list',
            striped: true,
            cache: false,
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [10, 20, 30],
            queryParamsType: '',
            queryParams: function (params) {
                return {
                    pageSize: params.pageSize,
                    pageNum: params.pageNumber
                }
            },
            responseHandler: function (data) {
                console.info(data);
//                if (data.code == 0) {
                    return {
                        "rows": data.list,
                        "total": data.total
                    }
//                } else {
//                    return {
//                        "rows": [],
//                        "total": 0
//                    }
//                }
            },
            onLoadSuccess: function () {
                initPop();
            },
            columns: [
                {
                    title: "项目名称",
                    field: "name",
                    align: "left",
                    valign: "middle"
                },
                {
                    title: "地址",
                    field: "url",
                    align: "left",
                    valign: "middle"
                },
                {
                    title: "知识点",
                    field: "tech",
                    align: "left",
                    valign: "middle"
                },
                {
                    title: "更新时间",
                    align: "date",
                    valign: "middle",
                    formatter: function (value, row, index) {
                        return moment(new Date(row.date)).format('YYYY-MM-DD HH:mm:ss');
                    }
                },
                {
                    title: "操作",
                    align: "center",
                    valign: "middle",
                    formatter: function (value, row, index) {
                        var sHtml="";
                        sHtml+='<a href="javascript:void(0);" onclick="update('+row.id+')"><i class="fa fa-pencil"></i></a> &nbsp; &nbsp; &nbsp; ';
                        sHtml+='<a href="#" onclick="del('+row.id+')" ><i class="fa fa-trash-o"></i></a> &nbsp; &nbsp; &nbsp; ';
                        return sHtml;
                    }
                }
            ]
        });
    }

    /*<![CDATA[*/

    function initEvent() {
        initPopCloseEvent();
    }

    /*]]>*/

    function add() {
        $('#myModal').modal({
            remote:ctx+"/admin/project/add",
            show:true,
            backdrop:false
        });
    }


    function update(id) {
        $('#myModal').modal({
            remote:ctx+"/admin/project/update/"+($.trim(id)),
            show:true,
            backdrop:false
        });
    }



    function del(id) {
        $("#delbtn").unbind().bind("click",function () {
            $.ajax({
                type:'post',
                url:ctx+'/admin/project/del/'+id,
                cache:false,
                dataType:'json',
                success:function(data){
                    $('#myModal').modal('hide');
                    refreshTable();
                }
            });
        });
        $('#myModal').modal('show');
    }

    function listenModal() {
        $("#myModal").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
        $("#myModal").on("hidden", function() {
            $(this).removeData("modal");
        });
    }

</script>
</html>