<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/top_head"></head>
</head>
<body>
<script th:inline="javascript">
    function switch_theme_css() {
        var css=document.getElementById("theme-css");
        if(localStorage.blog_theme==undefined){
            localStorage.blog_theme="light";
        }
        if(localStorage.blog_theme=="dark"){
            css.href=darkUrl;
        }
    }
    switch_theme_css();
</script>
<!-- top header -->
<header th:replace="common/f_head :: header"></header>
<!--  -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="editormd-preview" id="md-container">
                <div class="markdown-body editormd-preview-container" th:utext="${article}" previewcontainer="true" style="padding: 20px;">
                    article
                </div>
            </div>
            <br><br>
            <a th:if="${prev}" th:href="@{/post/{id}(id=${prev.Vid})}" class="post-flip"><i class="fa fa-arrow-left"></i><span th:text="${prev.Title}">&nbsp;prev</span></a>
            <a th:if="${next}" th:href="@{/post/{id}(id=${next.Vid})}" class="post-flip" style="float: right;"><span th:text="${next.Title}">&nbsp;next</span><i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<footer th:replace="common/footer ::footer"></footer>
</body>
</html>